@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
body {
    background-size: cover!important;
    font-family: 'Red Hat Display', sans-serif;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(71, 33, 178, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}

main {
    color: #FFFFFF;
    border-radius: 35px;
    border-radius: 35px;
    box-shadow: 0px 4px 12px -1px #000000, inset 5px 5px 15px rgba(255, 255, 255, 0.1);
    background: linear-gradient(112.02deg, rgba(71, 33, 178, 0.51) 0%, rgba(71, 33, 178, 0.0425) 100%);
}

#landing {
    background: url(../img/demo-landing.jpg) no-repeat center center fixed;
}

#music {
    background: url(../img/demo-music.jpg) no-repeat center center fixed;
}

#about {
    background: url(../img/demo-about.jpg) no-repeat center center fixed;
}

#contact {
    background: url(../img/demo-get-in-touch.jpg) no-repeat center center fixed;
}

.landing-logo {
    width: 55%;
    margin: 0 auto;
}
/* 

    NAVIGATION

*/
nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    padding: 5vw;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;

    font-size: 24px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

.current {
    padding-bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
}

nav ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
}

main {
    width: 820px;
    margin: 0 auto;
}

main .logo{
    width: 175px;
    margin-top: 10px;

    opacity: 0.2;
}

/* 
    Containers
*/

.container {
    padding: 5% 7% 5% 7%;

    background-image: url(../img/sound_drip.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px;
}

.container p {
    width: 600px;
}

.container h2 {
    font-size: 72px;
    line-height: 75px;
}

.container h3 {
    opacity: 0.4;
    font-size: 36px;    
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header img {
    width: 115px;
    border-radius: 50%;
}

.container-header h2 {
    margin-left: 15px;
}

.container-main h3 {
    opacity: 0.4;
    font-size: 36px;
}

.icons-container {
    display: flex;
    align-items: center;
}

.icons-container i{
    margin-right: 15px;
    font-size: 38px;
}

.icons-container a{
    color: #FFFFFF;
    text-decoration: none;
}
