@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
body {
    background-size: cover!important;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(71, 33, 178, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}
#landing {
    background: url(../img/demo-landing.jpg) no-repeat center center fixed;
}
#music {
    background: url(../img/demo-music.jpg) no-repeat center center fixed;
}
#about {
    background: url(../img/demo-about.jpg) no-repeat center center fixed;
}
#contact {
    background: url(../img/demo-get-in-touch.jpg) no-repeat center center fixed;
}
.landing-logo {
    width: 55%;
    margin: 0 auto;
}
/* 

NAVIGATION

*/
nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    padding: 5vw;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;

    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}

nav ul li a:hover {
    border-bottom: 2px solid #FFFFFF
}

.current {
    border-bottom: 2px solid #FFFFFF
}